@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/Plugins/bootstrap/css/bootstrapnot.min.css">
    <link rel="stylesheet" href="~/Plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Css/globel.css">
    <link rel="stylesheet" href="~/Css/SourceManage.css">
</head>
<body>
<div class="header">
    <div class="container">
        <span><i class="fa fa-hacker-news"></i> Resource</span>
        <span class="pull-right">
                <a href="javascript:;">登录</a>  |
                <a href="javascript:;">注册</a>
            </span>
    </div>
</div>
<div class="nav">
    <div class="container" id="nav-container">
        <ul>
            <li><span class="icon"><i class="fa fa-desktop"></i></span></li>
            <li>
                <span class="icon"><i class="fa fa-codepen"></i></span>
               
            </li>
            <li>
                <span class="icon"><i class="fa fa-tablet"></i></span>
               
            </li>
            <li>
                <span class="icon"><i class="fa fa-database"></i></span>
              
            </li>
            <li>
                <span class="icon"><i class="fa fa-cogs"></i></span>
               
            </li>
            <li>
                <span class="icon"><i class="fa fa-cloud-upload"></i></span>
               
            </li>
            <li>
                <span class="icon"><i class="fa fa-picture-o"></i></span>
                
            </li>

        </ul>
    </div>
</div>
<div class="main-body">
    <div class="scroll-box">
        <div class="container" id="container">
           
        </div>
    </div>
</div>
</body>
<script src="~/Scripts/Js/common/jquery-1.10.1.js"></script>
<script src="~/Scripts/Js/clientIndex.js"></script>
</html>
