@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="~/Plugins/bootstrap/css/bootstrapnot.min.css">
    <link rel="stylesheet" href="~/Plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Css/globel.css">
    <link rel="stylesheet" href="~/Css/SourceManage.css">
</head>
<body>
<div class="header">
    <div class="container">
        <span class="avatar"><i class="fa fa-hacker-news"></i> Resource</span>
        <span class="pull-right" id="login-box">
                <a href="javascript:;" id="login">登录</a>  |
                <a href="javascript:;" id="register">注册</a>
            </span>
    </div>
</div>
<div class="nav">
    <div class="container" id="nav-container">
        <ul>
           
        </ul>
    </div>
</div>
<div class="main-body">
    <div class="scroll-box">
        <div class="container" id="container" >
           
        </div>
    </div>
</div>
</body>
<script src="~/Scripts/Js/common/jquery-1.10.1.js"></script>
<script src="~/Plugins/layer/layer.js"></script>
<script src="~/Scripts/Js/clientIndex.js"></script>
</html>
