@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <title>课程信息</title>
    <link rel="stylesheet" href="/Plugins/bootstrap/css/bootstrapnot.min.css">
    <link rel="stylesheet" href="/Plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Css/globel.css">
    <link rel="stylesheet" href="/Css/SourceManage.css">
</head>
<body>
<div class="header">
    <div class="container">
        <span class="avatar"><a href="/clientindex/index"><i class="fa fa-hacker-news"></i> Resource</a></span>
        <span class="pull-right" id="login-box">
                <a href="javascript:;">登录</a>  |
                <a href="javascript:;">注册</a>
            </span>
    </div>
</div>
<div class="course-nav">
    <div class="container" id="headNav">
        <ul id="headNavWrapper">
            
        </ul>
    </div>
</div>

<div class="main-course">
    <div class="container">
        <div class="left-wrapper" id="chaptersList">
            <ul id="listwrapper">
                
            </ul>
        </div>
        <div class="right-wrapper">
            <video src="~/Files/131361407433953283英雄有路-资源管理示例视频.mp4" controls="controls" class="videos" id="video"></video>
            <ul id="file-wrapper">
                <li><a href="javascript:;"><i class="fa fa-file"></i>实例文档</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="/Scripts/Js/common/jquery-1.10.1.js"></script>
<script src="/Scripts/Js/clientCourse.js"></script>
</html>