@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/Plugins/ztree/zTreeStyle.css" />
    <link rel="stylesheet" href="/Plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Plugins/easyui/easyui.css" />
    <link rel="stylesheet" href="/Plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Css/eduOnline.css" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Plugins/ieCompatibility/html5.min.js"></script>
    <script type="text/javascript" src="/Plugins/ieCompatibility/respond.js"></script>
    <![endif]-->
</head>
<body class="easyui-layout">
    <div data-options="region:'center'">

        <div class="container-fluid ">
            <div class="row bg-grey">
                <div class="col-md-12">
                    <div class="form-wrapper " id="btn-wrapper">
                       

                        <span class="title">模糊查询：</span>
                        <input type="text" class="form-control input-inline" id="searchVal">

                        <button class="btn w-success btn-sm" id="searchBtn">确定</button>
                        <button class="btn w-success btn-sm" id="addChapter">新增章节</button>
                        <button class="btn w-success btn-sm" id="addFile">资源添加</button>
                        <a id="outport" class="btn w-success vertical-top pull-right" href="/Chapter/OutToExcel">导出Excel</a>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="grid-wrapper" id="content-filed">
                        <div class="chart-box">
                            <div id="line" class="chart"></div>
                            @*                            <div id="bar" class="chart"></div>*@
                        </div>
                        <div class="dataList">
                            <div class="col-md-6" style="height: 100%;">
                                <div id="dataList"></div>
                            </div>
                            <div class="col-md-6" style="height: 100%;">
                                <div id="fileList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="form1" style="padding: 5px 15px" class="form-wrapper">
        <span class="title">课程名称：</span>
        <select name="cId" class="form-control" id="cName"></select>
        <span class="title">章节名称：</span>
        <input type="text" class="form-control" name="chName" id="chName">
        <span class="title">章节描述：</span>
        <input type="text" class="form-control" name="mark" id="mark">
        <a class="btn btn-sm w-success btn-block" style="margin-top: 10px" id="chapterAdd">确定添加</a>
        <a class="btn btn-sm w-success btn-block" style="margin-top: 10px" id="chapterEdit">确定编辑</a>
    </form>


    <form id="form2" action="/Chapter/AddChapterFile" method="post" style="padding: 5px 15px" class="form-wrapper" enctype="multipart/form-data">

        <span class="title">课程名称：</span>
        <select name="cId" class="form-control" id="courses"></select>
        <span class="title">课程名称：</span>
        <select name="chId" class="form-control" id="chapters"></select>
        <span class="title">资源文件：</span>
        <input type="file" name="file" class="form-control" />
        <input type="submit" value="提交文件" class="btn btn-sm w-success btn-block" style="margin-top: 10px" />

    </form>
</body>
<script src="/Scripts/Js/common/jquery-1.10.1.js"></script>

<script src="/Plugins/echarts/echarts.min.js"></script>

<script src="/Plugins/easyui/js/jquery.easyui.min.js"></script>
<script src="/Plugins/easyui/js/easyui-lang-zh_CN.js"></script>

<script src="/Plugins/layer/layer.js"></script>

<script src="/Scripts/Js/chapterManage.js"></script>
</html>
