@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/Plugins/ztree/zTreeStyle.css"/>
    <link rel="stylesheet" href="/Plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Plugins/easyui/easyui.css"/>
    <link rel="stylesheet" href="/Plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/Css/eduOnline.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Plugins/ieCompatibility/html5.min.js"></script>
    <script type="text/javascript" src="/Plugins/ieCompatibility/respond.js"></script>
    <![endif]-->
</head>
<body class="easyui-layout">
<div data-options="region:'west'" style="width: 260px">
    <div class="item-title"><span>课程章节管理</span></div>
    <ul id="tree" class="ztree">

    </ul>
</div>
<div data-options="region:'center'">

    <div class="container-fluid ">
        <div class="row bg-grey">
            <div class="col-md-12">
                <div class="form-wrapper " id="btn-wrapper">
                    <span class="title">章节名称：</span>
                    <input type="text" class="form-control input-inline">
                    <span class="title">内容描述：</span>
                    <input type="text" class="form-control input-inline">
                    <span class="title">课程文件：</span>
                    <input type="file" class="form-control input-inline">

                    <span class="title">模糊查询：</span>
                    <input type="text" class="form-control input-inline">

                    <button class="btn btn-default vertical-top">确定</button>
                    <button id="outport" class="btn w-success vertical-top pull-right">导出</button>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="grid-wrapper" id="content-filed">
                    <div class="chart-box" id="echart"></div>
                    <table id="dataList"></table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/Scripts/Js/common/jquery-1.10.1.js"></script>
<script src="/Plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="/Plugins/echarts/echarts.min.js"></script>
<script src="/Plugins/easyui/js/jquery.easyui.min.js"></script>
<script src="/Plugins/easyui/js/easyui-lang-zh_CN.js"></script>
<script src="/Plugins/layer/layer.js"></script>
<script src="/Scripts/Js/chapterManage.js"></script>
</html>
